.card {
  padding: 4rem 2rem;
  border: 0.3px solid #ffffff2c;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.08);

  &__title {
    color: #e86fce;
    margin-bottom: 1rem;
  }
  &__content {
    width: 70%;
  }
}
